

.contact{
    min-height: 100vh;
    background: black;
    padding: 90px 0;
    justify-content: center;
    position: relative;
    margin: 0 auto;
}

.contenedor{
   display: inherit;
   width: 100%;
   max-width: 1200px;
   justify-content: inherit;
   margin: 0 auto;
   padding: 0 20px;

}

.contact-contenedor h1{
    color: orange;
    display: inline-flex;
    border-bottom: 5px solid white;
    font-size: 40px;
}

.contact-info p{
    color: #999;
    padding: 50px;
    font-size: 15px;
}

.grid-contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}


.contact-items{
    background: #191919;
    font-size: 15px;
    color: #8e8e8e;
    padding: 35px;
    transition: all 0.3s;
    min-width: 130px;
    border-radius: 5px;
}

.icon__contact {
    font-size: 50px;
}


@media (max-width: 390px) {
    .grid-contact {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 430px) {
    .grid-contact {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 520px) {
    .grid-contact {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 580px) {
    .grid-contact {
        grid-template-columns: 1fr;
    }
}